@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 21px 246px 173px 122px;
}

.logo {
  width: 112px;
  height: 66px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.headline {
  display: flex;
  margin-top: 97px;
}
.headline div {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.headline p {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.headline img:first-child {
  margin-right: 8px;
  width: 22px;
  height: 21px;
}

.headline img:nth-child(2) {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.headline img:nth-child(3) {
  margin-right: 13px;
  width: 20px;
  height: 22px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box h1 {
  width: 628px;
  color: #000;
  font-family: Roboto Slab;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}

.box p {
  margin-top: 10px;
  width: 414px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.box img {
  width: 304px;
  height: 356px;
}

.box2 {
  margin: auto auto auto auto;
  margin-top: 68px;
  padding: 19px 18px 19px 26px;

  width: 483.635px;
  border-radius: 5px;
  background: #1e4681;
}

.box2 .p-1 {
  width: 430.589px;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.box2 .p-2 {
  margin-top: 22px;
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 22px 142px 100px 70px;
  }

  .logo {
    width: 64.867px;
    height: 38.225px;
  }

  .headline {
    margin-top: 56px;
  }
  .headline div {
    margin-right: 15px;
  }

  .headline p {
    font-size: 12px;
  }

  .headline img:first-child {
    width: 12.742px;
    height: 12.163px;
  }

  .headline img:nth-child(2) {
    width: 12.742px;
    height: 12.742px;
  }

  .headline img:last-child {
    width: 11.583px;
    height: 12.742px;
  }

  .box h1 {
    font-size: 46px;
    width: 363.717px;
  }

  .box p {
    margin-top: 5px;
    font-size: 12px;
    width: 264px;
  }

  .box img {
    width: 176.067px;
    height: 206.183px;
  }

  .box2 {
    margin-top: 50px;
    padding: 11px 16px;
    width: 280.105px;
    border-radius: 2.896px;
  }

  .box2 .p-1 {
    width: 249.383px;
    font-size: 14px;
  }

  .box2 .p-2 {
    margin-top: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 36px 46px 78px 35px;
  }

  .logo {
    width: 52.189px;
    height: 30.754px;
  }

  .headline {
    margin-top: 44px;
  }

  .headline div {
    margin-right: 11px;
  }

  .headline p {
    font-size: 10px;
  }

  .headline img:first-child {
    width: 10.251px;
    height: 9.785px;
  }

  .headline img:nth-child(2) {
    width: 10.251px;
    height: 10.251px;
  }

  .headline img:last-child {
    width: 9.319px;
    height: 10.251px;
  }

  .box h1 {
    font-size: 37px;
    width: 292.631px;
  }

  .box p {
    font-size: 10px;
    width: 212.403px;
  }

  .box img {
    margin-left: auto;
    width: 141.656px;
    height: 165.886px;
  }

  .box2 {
    margin: 0;
    margin-top: 47px;
    padding: 9px 13px;
    width: 225.36px;
    border-radius: 2.33px;
  }

  .box2 .p-1 {
    width: 200.642px;
    font-size: 11px;
  }

  .box2 .p-2 {
    margin-top: 7px;
    font-size: 10px;
  }

  .box {
    flex-direction: column;
  }
}
