@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 21px 246px 173px 122px;
}

.logo {
  width: 112px;
  height: 66px;
}

.headline {
  display: flex;
  margin-top: 97px;
}
.headline div {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.headline p {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.headline img:first-child {
  margin-right: 8px;
  width: 22px;
  height: 21px;
}

.headline img:nth-child(3) {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.headline img:nth-child(5) {
  margin-right: 13px;
  width: 20px;
  height: 22px;
}

.box {
  display: flex;
  /* padding: 29px; */

  justify-content: space-between;
  background-color: yellow;
}

.box h1 {
  width: 628px;
  color: #000;
  font-family: Roboto Slab;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}

.box p {
  margin-top: 10px;
  width: 414px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.box img {
  width: 304px;
  height: 356px;
}

.box2 {
  margin: auto auto auto auto;
  margin-top: 68px;
  padding: 19px 18px 19px 26px;

  width: 483.635px;
  border-radius: 5px;
  background: #1e4681;
}

.box2 .p-1 {
  width: 430.589px;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.box2 .p-2 {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
